.banner {
  background: #fbf9f0 url(/assets/home/banner-bg.png) no-repeat center 100% /
    contain;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 760px) {
  .banner {
    background-size: 100vw 100vh;
  }
}
